
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}



:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

body {
    background-color: var(--violet);
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100vh;
    font-family:  'sans-serif';
    font-size: 1.2em;
    
    
}



.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    


}

.container > div {
    flex: 1;
    padding: 0 10px;
}

.container >div:last-child {
    display: block;
    margin-bottom: 10px;
}



h1 {
    font-family: 'Poppins';
    font-weight: 600;
    color: #fff;
    line-height: 1.2;
}

p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.8;
    
}



.btn {
    background-color: #fff;
    border: 0;
    border-radius: 20px;
    padding: 15px 60px;
    font-size: 16px;
    color: var(--violet);
    box-shadow: 0 6px rgba(0, 0, 0, 0.3);
}


.img1 {
    padding-bottom: 100px;

}

/*This is how you make social links with border circle*/

.social-links {
    display: flex;
    justify-content: flex-end;
    padding: 0 10;
    list-style-type: none;
    
    
}

.social-links a {
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    height: 60px;
    width: 60px;
    padding-top: 20px;
    margin-left: 20px;
}


@media screen and (max-width: 768px) {
    .container{
        flex-direction: column;
        
    }

    .container > div:first-child{
        flex: 1;
        margin-right: 0;
    }

    .container > div:last-child {
        flex: 1;
        margin-left: 0;
    }

    .social-links {
        justify-content: center;
    }
}

