@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}



:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

body {
    background-color: var(--violet);
    background-image: url(../images/bg-desktop.svg);
    background-repeat: space;
  
    background-position: center;
    font-family:  'sans-serif';
    font-size: 1.2em;
    
}

h1 {
    font-family: 'Poppins';
    font-weight: 600;
    color: #fff;
    line-height: 1.2;
}

p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    


}

.container > div {
    flex: 1;
    padding: 0 10px;
}

.btn {
    background-color: #fff;
    border: 0;
    border-radius: 20px;
    padding: 15px 60px;
    font-size: 16px;
    color: var(--violet);
    box-shadow: 0 6px rgba(0, 0, 0, 0.3);
}

.img1 {
    padding-bottom: 100px;
}



